@model FoodTrace.Model.RoleModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>角色新建</h2>
@using (Html.BeginForm("Create", "Role", FormMethod.Post))
{
    <table>
        <tr>
            <td>角色名称</td>
            <td>@Html.TextBoxFor(m => Model.RoleName,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})</td>
            <td>角色备注</td>
            <td>@Html.TextBoxFor(m => Model.Remark,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})</td>
        </tr>
        <tr>
            <td>排序字</td>
            <td>@Html.TextBoxFor(m => Model.SortID,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})</td>
            <td>是否锁定</td>
            <td>
                <select name="IsLocked">
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            var roleName = $("#RoleName").val();
            var remark = $("#Remark").val();
            var sortID = $("#SortID").val();
            var isLocked = $("#IsLocked").val();
            var menuIds = ";";
            debugger;
            var selectMenu = $("input[name=chkMenu]:checked");
            $(selectMenu).each(function () {
                menuIds += $(this).val() + ";";
            });
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateRole")',
                data: { roleName: roleName, remark: remark, sortID: sortID, isLocked: isLocked, menuIds: menuIds },
                dataType: "json",
                success: function (data) {
                    if (data.Status == 0) {
                        window.location = '@Url.Action("Index")';
                    }
                    else {
                        alert(data.Message);
                    }
                }
            });
        });

    });

</script>