@using Microsoft.Ajax.Utilities
@model FoodTrace.Model.RoleModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>角色编辑</h2>
    @using (Html.BeginForm("Edit", "Role", FormMethod.Post))
    {
                                           @Html.HiddenFor(m => Model.RoleID)
    <table>
        <tr>
            <td>角色名称</td>
            <td>@Html.TextBoxFor(m => Model.RoleName,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})</td>
            <td>角色备注</td>
            <td>@Html.TextBoxFor(m => Model.Remark,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})</td>
        </tr>
        <tr>
            <td>排序字</td>
            <td>@Html.TextBoxFor(m => Model.SortID,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})</td>
            <td>是否锁定</td>
            <td>
              @Html.CheckBoxFor(m => Model.IsLocked)
            </td>
        </tr>
       
    </table>
    }
    
