    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<link href="~/Scripts/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<div style="height: 100%">
    <div class="table_title">
        角色名称：<input type="text" class="input" id="roleName" value="">
        <a id="btnQuery" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'"></a>
        <div class="clearbox"></div>
    </div>
    <table id="DataGrid" style="height:80%;"></table>
</div>
<div id="CreateDialog" style="display: none;"></div>
<div id="EditDialog" style="display: none;"></div>
<div id="MenuDialog" style="display: none;">
   
    <ul id="menuTree" class="ztree"></ul>
</div>
<input type="hidden" id="roleId" value="" />
<div id="ClientMenuDialog" style="display: none;">
    <ul id="ClientMenuTree" class="ztree"></ul>
</div>
<script src="~/Scripts/ztree/jquery.ztree.all.min.js"></script>
<script>
    var menuDialog = null,roleMenuTree=null,roleClientMenu=null,clientDialog,roleGrid;
    function Edit(id) {
        $('#EditDialog').dialog('refresh', '@Url.Action("Edit", "Role")' + '?id=' + id).dialog('open');
    }

    function Delete(id) {

        $.messager.confirm('信息提示', '确定要删除该记录吗', function (r) {
            if (r) {
                $.post('@Url.Action("DeletRole", "Role")', { ids: id.join()}, function (json) {
                    var msg = '';
                    if (json.flag) {
                        msg = "删除成功";
                        $('#DataGrid').datagrid('reload');
                    } else {
                        msg = "删除失败";
                    }
                    $.messager.alert('信息提示', msg, 'info', function () {
                    });
                }, 'json');
            }
        });

    }

    $(function () {
           //表格
        roleGrid=$('#DataGrid').datagrid({
            url: '@Url.Action("GetList", "Role")',
            rownumbers: true,
            striped: true,
            fitColumns: true,
            pagination: true,
            singleSelect: false,
            pageList: [10, 15, 20, 25],
            toolbar: [{
                id: 'btnAdd',
                text: ' 新建',
                iconCls: 'icon-add',
                handler: function () {
                    $('#CreateDialog').dialog('refresh', '@Url.Action("Create", "Role")').dialog('open');
                }
            }, {
                id: 'btnEdit',
                text: ' 编辑',
                iconCls: 'icon-edit',
                handler: function () {

                    var row = $('#DataGrid').datagrid('getSelections');
                    if (row) {
                        if (row.length == 1) {
                            Edit(row[0].RoleID);
                        } else {
                            $.messager.alert('提示', '只能选中一条数据行进行修改');
                        }
                    }
                  
                }
            }, {
                id: 'btnDelete',
                text: ' 删除',
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $('#DataGrid').datagrid('getSelections');
                    var ids = [];

                    if (row.length == 0) {
                        $.messager.alert('提示', '请选择需要删除的数据');
                        return;
                    }
                        $.each(row, function (index, item) {
                            ids.push(item.RoleID);
                        });

                        Delete(ids);
                   
                }
            },{
            id: 'btnSetMenu',
            text: ' 设置平台权限',
            iconCls: 'icon-remove',
            handler: function () {
            var row = $('#DataGrid').datagrid('getSelections');
            if (row) {
                if (row.length == 1) {
                    setMenu(row[0].RoleID);
                } else {
                    $.messager.alert('提示', '只能选中一条数据行进行修改');
                }
            }
         }
            }, {
                id: 'btnSetMenu',
                text: ' 设置客户端权限',
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $('#DataGrid').datagrid('getSelections');
                    if (row) {
                        if (row.length == 1) {
                            setClientMenu(row[0].RoleID);
                        } else {
                            $.messager.alert('提示', '只能选中一条数据行进行修改');
                        }
                    }
                }
            }],
            columns: [[
                 { field: 'ck', checkbox: true },
                    { title: '角色名称', align: 'center', field: 'RoleName', width: 35 },
                    { title: '角色备注', align: 'center', field: 'Remark', width: 35 },
                    { title: '排序ID', align: 'center', field: 'SortID', width: 35 },
                    {
                        title: '菜单类型', align: 'center', field: 'Flag', width: 35, formatter: function (value, row, index) {
                        if (value == 1) {
                            return "平台";
                        } else {
                            return "客户端";
                        }
                    }}
            ]]
        });

        //数据编辑弹出框
        $('#CreateDialog').dialog({
            title: '新建',
            width: 600,
            height: 380,
            closed: true,
            cache: false,
            href: '@Url.Action("Create", "Role")',
            modal: true,
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var $form = $('#CreateDialog').find('form');

                    var flag = $form.form('validate');

                    if (!flag) {
                        $.messager.alert('Title', '必须填写完整的信息', 'error');
                        return false;
                    }

                    $.messager.progress();
                    var url = $form.prop('action');
                    $.post(url, $form.serializeArray(), function (json) {

                        var msg = '';
                        if (json.flag) {
                            msg = "保存成功";
                            $('#DataGrid').datagrid('reload');
                        } else {
                            msg = "保存失败<br />" + json.msg;
                        }
                        $.messager.progress('close');
                        $.messager.alert('信息提示', msg, 'info', function () {
                            $('#CreateDialog').dialog('close');
                        });
                    }, 'json');
                }
            }, {
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#CreateDialog').dialog('close');
                }
            }]
        });
            
        $('#EditDialog').dialog({
            title: '修改',
            width: 600,
            height: 380,
            closed: true,
            cache: false,
            href: '@Url.Action("Edit", "Role")',
            modal: true,
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var $form = $('#EditDialog').find('form');

                    var flag = $form.form('validate');

                    if (!flag) {
                        $.messager.alert('Title', '必须填写完整的信息', 'error');
                        return false;
                    }

                    $.messager.progress();
                    var url = $form.prop('action');
                    $.post(url, $form.serializeArray(), function (json) {

                        var msg = '';
                        if (json.IsSuccess) {
                            msg = "保存成功";
                            $('#DataGrid').datagrid('reload');
                        } else {
                            msg = "保存失败<br />" + json.msg;
                        }
                        $.messager.progress('close');
                        $.messager.alert('信息提示', msg, 'info', function () {
                            $('#EditDialog').dialog('close');
                        });
                    }, 'json');
                }
            }, {
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#EditDialog').dialog('close');
                }
            }]
        });

        //设置角色相关权限菜单弹出框
        menuDialog=$('#MenuDialog').dialog({
            title: '设置权限菜单',
            width: 600,
            height: 380,
            closed: true,
            cache: false,
            modal: true,
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    saveRoleRefMenu();
                }
            }, {
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#MenuDialog').dialog('close');
                }
            }]
        });
        //设置角色相关权限菜单弹出框
        clientDialog = $('#ClientMenuDialog').dialog({
            title: '设置客户端权限菜单',
            width: 600,
            height: 380,
            closed: true,
            cache: false,
            modal: true,
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    saveRoleRefClientMenu();
                }
            }, {
                text: '关闭',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#ClientMenuDialog').dialog('close');
                }
            }]
        });
        initMenuTree();

        $('#btnQuery').on('click', function() {
            var roleName = $('#roleName').val();
                roleGrid.datagrid('reload', {
                    roleName: roleName
                });
            

        });
    });

    function initMenuTree() {
        //树属性
        var settings = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: { "Y": "ps", "N": "ps" }
            },
            data: {
                // key: { ckecked: "Checked" },
                simpleData: { enable: true, idKey: "id", pIdKey: "pId" }
            }
        };
        Utils.ajaxGet("/Menu/GetMenuTree", {flag:0}, "json", function (ret) {
            if (ret.IsSuccess) {
                var webMenu = [], clietMenu = [];

                $.each(ret.Data, function(i, item) {
                    if (item.type == 1) {
                        webMenu.push(item);
                    }
                    if (item.type == 2) {
                        clietMenu.push(item);
                    }
                });
                roleMenuTree = $.fn.zTree.init($("#menuTree"), settings, webMenu);
                roleClientMenu = $.fn.zTree.init($('#ClientMenuTree'), settings, clietMenu);
            }
            //moduleTree.expandAll(true);GetRoleTree
        });
    }

    ///打开角色对应菜单页面
    function setMenu(id) {
        $('#roleId').val(id);
        menuDialog.dialog('open');
        Utils.ajaxGet('/Role/GetMenuByRoleId', { roleId: id ,flag:1}, 'json', function (ret) {
            if (ret.IsSuccess) {
                roleMenuTree.checkAllNodes(false);
                var idArry = ret.Data;
                for (var i = 0; i < idArry.length; i++) {
                    var node = roleMenuTree.getNodeByParam("id", idArry[i], null);
                    if (node != null) {
                        node.checked = true;
                        roleMenuTree.updateNode(node);

                    }
                }

            }
        });
    }

    //保存角色对应菜单权限
    function saveRoleRefMenu() {
        var checkedNode = roleMenuTree.getCheckedNodes(true);
        var menuId = [];
        if (checkedNode.length > 0) {
            for (var i = 0; i < checkedNode.length; i++) {
                menuId.push(checkedNode[i].id);
            }
        }
        var roleId = $('#roleId').val();
        Utils.ajaxPost('/Role/SaveRoleRefMenu', { roleId: roleId, chkMenu: menuId,flag:1 }, 'json', function (ret) {
            if (ret.IsSuccess) {
                $.messager.alert('提示:', '权限设置成功!', null, function () {
                    menuDialog.dialog("close");
                });
            } else {
                $.messager.alert('提示:', '权限设置失败!', null, function () {
                    menuDialog.dialog("close");
                });
            }
        });
    }

    //客户端权限弹出框
    function setClientMenu(id) {
        $('#roleId').val(id);
        clientDialog.dialog('open');
        Utils.ajaxGet('/Role/GetMenuByRoleId', { roleId: id ,flag:2}, 'json', function (ret) {
            if (ret.IsSuccess) {
                roleClientMenu.checkAllNodes(false);
                var idArry = ret.Data;
                for (var i = 0; i < idArry.length; i++) {
                    var node = roleClientMenu.getNodeByParam("id", idArry[i], null);
                    if (node != null) {
                        node.checked = true;
                        roleClientMenu.updateNode(node);

                    }
                }

            }
        });
    }

    ///客户端权限设置
    function saveRoleRefClientMenu() {
        var checkedNode = roleClientMenu.getCheckedNodes(true);
        var menuId = [];
        if (checkedNode.length > 0) {
            for (var i = 0; i < checkedNode.length; i++) {
                menuId.push(checkedNode[i].id);
            }
        }
        var roleId = $('#roleId').val();
        Utils.ajaxPost('/Role/SaveRoleRefMenu', { roleId: roleId, chkMenu: menuId,flag:2 }, 'json', function (ret) {
            if (ret.IsSuccess) {
                $.messager.alert('提示:', '权限设置成功!', null, function () {
                    clientDialog.dialog("close");
                });
            } else {
                $.messager.alert('提示:', '权限设置失败!', null, function () {
                    clientDialog.dialog("close");
                });
            }
        });
    }
</script>
