@model FoodTrace.Model.MenuModel
@{
    ViewBag.Title = "Create";
    Layout = null;
    var pList = ViewBag.MenuList as List<SelectListItem>
    ;
    }
    <h2>区域新建</h2>
    @using (Html.BeginForm("Edit", "Menu", FormMethod.Post))
    {
    @Html.HiddenFor(_=>_.MenuID);
        <div>
        <label for="name">菜单类别:</label>
             <select id="flag" name="Flag">
                 <option value="1">平台</option>
                 <option value="2">客户端</option>
             </select>
         </div>
    <div>
        <label for="name">菜单名称:</label>
        @Html.TextBoxFor(m => Model.Name,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>
    <div>
        <label for="name">父菜单:</label>
        <select name="ParentID" id="parentId"></select>
    </div>
    <div>
        <label for="name">排序号:</label>
        @Html.TextBoxFor(m => Model.SortID,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>
    <div>
        <label for="name">功能页面路径:</label>
        @Html.TextBoxFor(m => Model.FunctionURL,new {@class="easyui-textbox"})
    </div>
    }

<script>
    $(function() {
        loadParentMenu();
        $('#flag').on('change', function() {
            loadParentMenu();
        });
    });

    function loadParentMenu() {
        var flag = $('#flag').val();
        Utils.ajaxGet('/Menu/GetMenuByMenuType', { type: flag }, 'json', function(ret) {
            if (ret.IsSuccess) {
                var option = "";;
                $.each(ret.Data, function (i, n) {
                    option += "<option value=" + n.Value + ">" + n.Text + "</option>";
                });
                $("#parentId").append(option);
                $('#parentId').val('@Model.ParentID');
            }
         
        });
    }
</script>