
@using FoodTrace.Model.DtoModel
@{
    ViewBag.Title = "Index";
    Layout = "";
}
@{
    var roleMenu = ViewBag.RoleMenu as List<RoleModuleDto> ?? new List<RoleModuleDto>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 食品溯源平台管理</title>
    @Styles.Render("~/Content/jquery-easyui-1.4.5/themes/metro-red/easyui.css")
    @Styles.Render("~/Content/jquery-easyui-1.4.5/themes/icon.css")
    @Scripts.Render("~/Content/jquery-easyui-1.4.5/jquery.min.js")
    @Scripts.Render("~/Content/jquery-easyui-1.4.5/jquery.easyui.min.js")
    <script src="~/Scripts/base/easyuiUtils.js"></script>
    <style type="text/css">
        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
        }

            ul li {
                padding: 8px;
            }

                ul li a {
                    text-decoration: none;
                    color: black;
                    font-family: Arial;
                }

        a:hover {
        }
        
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height: 100px; background: #F0E1E3; ">
        <div style="position: absolute; left: 0px; bottom: 0px;">
            <img src="~/Images/huanxianbt.png" style="margin-top:0px;margin-left:0px;height: 40px;" />
        </div>
        <div style="position: absolute; right: 50px; bottom: 20px;">
            <a id="btn" href="@Url.Action("LoginOut","Home")" class="easyui-linkbutton">退出系统</a>  
        </div>

    </div>
    <div data-options="region:'west',split:true" title="菜单 Menu" style="width:180px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            @{
                foreach (var dto in roleMenu)
                {
                   <div title="@(dto.ModuleName)" style="padding:10px;text-align:left;">
                 <ul>
                     @{
                       var menu = dto.RoleMenu;

                         foreach (var item in menu)
                        {
                            <li><a href="#"  onclick="addTab('@(item.MenuName)', '@(item.MenuUrl)'); return false;">@(item.MenuName)</a></li>
                        }
                    }
                  </ul>
                  </div> 
                }
            }
           
        </div>
    </div>
    <div id="tabs" class="easyui-tabs" style="border-style:none;" data-options="region:'center',title:'',iconCls:'icon-ok'">
        
    </div>
    
    <div id="mm" class="easyui-menu" style="width: 150px;">
        <div id="refresh" data-options="iconCls:'icon-arrow_refresh'">刷新</div>
        <div class="menu-sep"></div>
        <div id="close">关闭</div>
        <div id="closeall">全部关闭</div>
        <div id="closeother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="closeright">当前页右侧全部关闭</div>
        <div id="closeleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        @*<div id="exit">退出</div>*@
    </div>
</body>
</html>

