@model FoodTrace.Model.UserDetailModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
var roleList = ViewBag.RoleList as List<FoodTrace.Model.RoleModel>;
    }
    <h2>用户新建</h2>
    @using (Html.BeginForm("Create", "UserBase", FormMethod.Post))
    {
    <table>
        <tr>
            <td>登录账号</td>
            <td>@Html.TextBoxFor(m => Model.UserBase.UserCode)</td>
            <td>登录密码</td>
            <td>@Html.PasswordFor(m => Model.UserBase.Password)</td>
        </tr>
        <tr>
            <td>用户姓名</td>
            <td>@Html.TextBoxFor(m => Model.UserBase.UserName)</td>
            <td>部门编号</td>
            <td><select id="depts" name="UserBase.DeptID"><</td>
        </tr>
        <tr>
            <td>公司ID</td>
            <td><select id="companys" name="UserBase.CompanyID"></select></td>
            <td>平台代码</td>
            <td>@Html.TextBoxFor(m => Model.UserBase.AreaCode)</td>
        </tr>
        <tr>
            <td>登录状态</td>
            <td>@Html.TextBoxFor(m => Model.UserBase.Status)</td>
            <td>用户类型</td>
            <td>@Html.TextBoxFor(m => Model.UserBase.UserType)</td>
        </tr>
        <tr>
            <td>头像照片</td>
            <td>@Html.TextBoxFor(m => Model.UserPhoto)</td>
            <td>入职日期</td>
            <td>@Html.TextBoxFor(m => Model.EntryDate)</td>
        </tr>
        <tr>
            <td>离职日期</td>
            <td>@Html.TextBoxFor(m => Model.LeaveDate)</td>
            <td>转正日期</td>
            <td>@Html.TextBoxFor(m => Model.FormalDate)</td>

        </tr>
        <tr>
            <td>QQ号码</td>
            <td>@Html.TextBoxFor(m => Model.QQ)</td>
            <td>出生年月</td>
            <td>@Html.TextBoxFor(m => Model.BirthDay)</td>

        </tr>
        <tr>
            <td>邮箱</td>
            <td>@Html.TextBoxFor(m => Model.Email)</td>
            <td>身份证号码</td>
            <td>@Html.TextBoxFor(m => Model.IDCard)</td>

        </tr>
        <tr>
            <td>手机号码</td>
            <td>@Html.TextBoxFor(m => Model.Mobile)</td>
            <td>婚姻状况</td>
            <td>@Html.TextBoxFor(m => Model.Marriage)</td>
        </tr>
        <tr>
            <td>性别</td>
            <td>@Html.TextBoxFor(m => Model.Gender)</td>
            <td>学历</td>
            <td>@Html.TextBoxFor(m => Model.Education)</td>
        </tr>
        <tr>
            <td>常用住址</td>
            <td>@Html.TextBoxFor(m => Model.HomeAddress)</td>
            <td>备注</td>
            <td>@Html.TextBoxFor(m => Model.Remark)</td>
        </tr>
        <tr>
            <td>指纹考勤号</td>
            <td>@Html.TextBoxFor(m => Model.AttendanceNo)</td>
            <td>工资发放账号</td>
            <td>@Html.TextBoxFor(m => Model.BankNo)</td>
        </tr>
        <tr>
            <td>角色</td>
            <td colspan="3">
                <table>
                    @{
                    var menuRow = roleList.Count % 5 == 0 ? roleList.Count / 5 : roleList.Count / 5 + 1;
                    for (int i = 0; i < menuRow; i++)
                    {
                    <tr>
                        @if (i == menuRow - 2)
                        {
                        for (int j = 0; j < 5; j++)
                        {
                        <td width="100px"><input type="checkbox" id="@roleList[i * 5 + j].RoleID" value="@roleList[i * 5 + j].RoleID" name="chkMenu" />@roleList[i * 5 + j].RoleName</td>
                        }
                        }
                        else
                        {
                        for (int j = 0; j < roleList.Count % 5; j++)
                        {
                        <td width="100px"><input type="checkbox" id="@roleList[i * 5 + j].RoleID" value="@roleList[i * 5 + j].RoleID" name="chkMenu" />@roleList[i * 5 + j].RoleName</td>
                        }
                        }
                    </tr>
                    }
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>是否锁定</td>
            <td>@Html.TextBoxFor(m => Model.UserBase.IsLocked)</td>
        </tr>
        <tr>
            <td><input type="submit" value="保存" /></td>
            <td><input type="button" value="取消" /></td>
        </tr>
    </table>
    }

    <script>
        $(function () {
            $.getJSON('ListInfo', function (json) {
                $('#companys').empty();
                $('#depts').empty();
                $(json.companys).each(function (index, company) {
                    $('#companys').append($('<option value="' + company.CompanyID + '">' + company.CompanyName + '</option>'));
                });
                $(json.depts).each(function (index, company) {
                    $('#depts').append($('<option value="' + company.DeptID + '">' + company.DeptName + '</option>'));
                });
            })
        });
    </script>

