@model FoodTrace.Model.UserBaseDto
@{
    ViewBag.Title = "新增用户";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
    //Layout = null;
   //  var roleList = ViewBag.RoleList as List<FoodTrace.Model.RoleModel>;
    }
    <h2>用户信息</h2>

<form id="mainForm">
    <table>
        <tr>
            <td>登录账号</td>
            <td>@Html.TextBoxFor(m => Model.UserCode, new { @class = "easyui-validatebox easyui-textbox",data_options = "required:true" })</td>
            <td>登录密码</td>
            <td>@Html.PasswordFor(m => Model.Password, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td>用户姓名</td>
            <td>@Html.TextBoxFor(m => Model.UserName, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })</td>
            <td>公司ID</td>
            <td>
                @Html.DropDownListFor(m => Model.CompanyID, ViewBag.CompanyList as IEnumerable<SelectListItem>,"-请选择-")
            </td>
        </tr>
        <tr>
            <td>部门编号</td>
            <td>
                <select id="deptId" name="UserBase.DeptID">
                    <option value="0">-请选择-</option>
                </select>
            </td>
            <td>平台代码</td>
            <td>@Html.TextBoxFor(m => Model.AreaCode)</td>
        </tr>
        <tr>
            <td>用户类型</td>
            <td>@Html.TextBoxFor(m => Model.UserType)</td>
            <td>入职日期</td>
            <td>@Html.TextBoxFor(m => Model.EntryDate)</td>
        </tr>
        <tr>
            <td>离职日期</td>
            <td>@Html.TextBoxFor(m => Model.LeaveDate)</td>
            <td>转正日期</td>
            <td>@Html.TextBoxFor(m => Model.FormalDate)</td>

        </tr>
        <tr>
            <td>QQ号码</td>
            <td>@Html.TextBoxFor(m => Model.QQ)</td>
            <td>出生年月</td>
            <td>@Html.TextBoxFor(m => Model.BirthDay)</td>

        </tr>
        <tr>
            <td>邮箱</td>
            <td>@Html.TextBoxFor(m => Model.Email)</td>
            <td>身份证号码</td>
            <td>@Html.TextBoxFor(m => Model.IDCard)</td>

        </tr>
        <tr>
            <td>手机号码</td>
            <td>@Html.TextBoxFor(m => Model.Mobile, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })</td>
            <td>婚姻状况</td>
            <td>
                <select name="UserDetail.Marriage">
                    <option value="1">已婚</option>
                    <option value="2">未婚</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <select name="UserDetail.Gender" data-options="required:true">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </td>
            <td>学历</td>
            <td>@Html.TextBoxFor(m => Model.Education, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td>常用住址</td>
            <td>@Html.TextBoxFor(m => Model.HomeAddress, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })</td>
            <td>备注</td>
            <td>@Html.TextBoxFor(m => Model.Remark)</td>
        </tr>
        <tr>
            <td>指纹考勤号</td>
            <td>@Html.TextBoxFor(m => Model.AttendanceNo)</td>
            <td>工资发放账号</td>
            <td>@Html.TextBoxFor(m => Model.BankNo, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })</td>
        </tr>
        <tr>
            <td>是否锁定</td>
            <td>
                @Html.RadioButton("IsLocked", "true",false, new { @id = "radioEnabled1" })<label for="radioEnabled1">是</label>
               @Html.RadioButton("IsLocked", "false", false, new { @id = "radioEnabled2" })<label for="radioEnabled2">否</label>
            </td>
        </tr>
        <tr>
            <td><a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a></td>
            <td><a id="btnCancel" href="javascript:history.back();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">返回</a></td>
        </tr>
    </table>
</form>
@section scripts{

    <script>
        $(function () {
            setDeptByCompany();

            $("#CompanyID").change(function () {
                setDeptByCompany();
            });

        });

        function setDeptByCompany() {
            var selectId = $("#CompanyID").val();

            Utils.ajaxGet('/Dept/GetDeptByCompany', { companyId: selectId }, 'json', function (ret) {
                $("#deptId").empty();
                var option = "<option value='0'>--请选择--</option>";;
                if (ret.length > 0) {
                    //遍历json数据，拼接option，最后添加到select中
                    $.each(ret, function (i, n) {
                        option += "<option value=" + n.Value + ">" + n.Text + "</option>";
                    });
                }
                $("#deptId").append(option); //等同于 $(option).appendTo($("#catagery"));
            });
        }

    </script>

}