@model FoodTrace.Model.CodeObjectModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>对像编码规则控制器信息编辑</h2>
@using (Html.BeginForm("Edit", "CodeObject", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ObjectID)
    <div>
        <label for="name">对像编码:</label>
        @Html.TextBoxFor(m => Model.ObjectCode, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">对像名称:</label>
        @Html.TextBoxFor(m => Model.ObjectName, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">前缀:</label>
        @Html.TextBoxFor(m => Model.Prefix, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">最大长度:</label>
        @Html.TextBoxFor(m => Model.MaxLength, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">流水号长度:</label>
        @Html.TextBoxFor(m => Model.SeqLength, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="IsFixedLength">是否固定长度:</label>
        <select name="IsFixedLength">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
    <div>
        <label for="name">是否自动:</label>
        <select name="IsAuto">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
    <div>
        <label for="name">排序号:</label>
        @Html.TextBoxFor(m => Model.SortID, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">备注:</label>
        @Html.TextBoxFor(m => Model.Remark, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">是否锁定:</label>
        <select name="IsLocked">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
    <div>
        <label for="name">是否显示:</label>
        <select name="IsShow">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
}