@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="DataGrid" style="height:100%;"></table>

<div id="CreateDialog"></div>
<div id="EditDialog"></div>
<script>

    function Edit(id) {
        $('#EditDialog').dialog('refresh', '@Url.Action("Edit", "CodeObject")' + '?id=' + id).dialog('open');
    }

    function Delete(id) {

        $.messager.confirm('信息提示', '确定要删除该记录吗', function (r) {
            if (r) {
                $.post('@Url.Action("Delete", "CodeObject")', { id: id }, function (json) {
                    var msg = '';
                    if (json.flag) {
                        msg = "删除成功";
                        $('#DataGrid').datagrid('reload');
                    } else {
                        msg = "删除失败";
                    }
                    $.messager.alert('信息提示', msg, 'info', function () {
                    });
                }, 'json');
            }
        });

    }

    $(function () {



        $('#DataGrid').datagrid({
            url: '@Url.Action("GetList", "CodeObject")',
            rownumbers: true,
            striped: true,
            fitColumns: true,
            pagination: true,
            singleSelect: true,
            pageList: [10, 15, 20, 25],
            toolbar: [{
                id: 'btnAdd',
                text: ' 新建',
                iconCls: 'icon-add',
                handler: function () {
                    $('#CreateDialog').dialog('refresh', '@Url.Action("Create", "CodeObject")').dialog('open');
                }
            }, {
                id: 'btnEdit',
                text: ' 编辑',
                iconCls: 'icon-edit',
                handler: function () {
                    var row = $('#DataGrid').datagrid('getSelected');
                    if (row) {
                        Edit(row.ObjectID);
                    }
                }
            }, {
                id: 'btnDelete',
                text: ' 删除',
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $('#DataGrid').datagrid('getSelected');
                    if (row) {
                        Delete(row.ObjectID);
                    }
                }
            }],
            columns: [[
                    { title: '对像编码', align: 'center', field: 'ObjectCode', width: 35 },
                    { title: '对像名称', align: 'center', field: 'ObjectName', width: 35 },
                    { title: '前缀', align: 'center', field: 'Prefix', width: 35 },
                    { title: '最大长度', align: 'center', field: 'MaxLength', width: 35 },
                    { title: '流水号长度', align: 'center', field: 'SeqLength', width: 35 },
                    { title: '是否固定长度', align: 'center', field: 'IsFixedLength', width: 35 },
                    { title: '是否自动', align: 'center', field: 'IsAuto', width: 35 },
                    { title: '排序号', align: 'center', field: 'SortID', width: 35 },
                    { title: '备注', align: 'center', field: 'Remark', width: 35 }
            ]]
        });


        $('#CreateDialog').dialog({
            title: 'Create Dialog',
            width: 600,
            height: 500,
            closed: true,
            cache: false,
            href: '@Url.Action("Create", "CodeObject")',
            modal: true,
            buttons: [{
                text: 'Save',
                iconCls:'icon-ok',
                handler: function () {
                    var $form = $('#CreateDialog').find('form');

                    var flag = $form.form('validate');

                    if (!flag) {
                        $.messager.alert('Title', '必须填写完整的信息', 'error');
                        return false;
                    }

                    $.messager.progress();
                    var url = $form.prop('action');
                    $.post(url, $form.serializeArray(), function (json) {

                        var msg = '';
                        if (json.flag) {
                            msg = "保存成功";
                            $('#DataGrid').datagrid('reload');
                        } else {
                            msg = "保存失败<br />" + json.msg;
                        }
                        $.messager.progress('close');
                        $.messager.alert('信息提示', msg, 'info', function () {
                            $('#CreateDialog').dialog('close');
                        });
                    }, 'json');
                }
            }, {
                text: 'Close',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#CreateDialog').dialog('close');
                }
            }]
        });

        $('#EditDialog').dialog({
            title: 'Create Dialog',
            width: 600,
            height: 500,
            closed: true,
            cache: false,
            href: '@Url.Action("Edit", "CodeObject")',
            modal: true,
            buttons: [{
                text: 'Save',
                iconCls: 'icon-ok',
                handler: function () {
                    var $form = $('#EditDialog').find('form');

                    var flag = $form.form('validate');

                    if (!flag) {
                        $.messager.alert('Title', '必须填写完整的信息', 'error');
                        return false;
                    }

                    $.messager.progress();
                    var url = $form.prop('action');
                    $.post(url, $form.serializeArray(), function (json) {

                        var msg = '';
                        if (json.flag) {
                            msg = "保存成功";
                            $('#DataGrid').datagrid('reload');
                        } else {
                            msg = "保存失败<br />" + json.msg;
                        }
                        $.messager.progress('close');
                        $.messager.alert('信息提示', msg, 'info', function () {
                            $('#EditDialog').dialog('close');
                        });
                    }, 'json');
                }
            }, {
                text: 'Close',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#EditDialog').dialog('close');
                }
            }]
        });
    });
</script>