@model FoodTrace.Model.CodeOrderModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>单据编码规则信息新增</h2>
@using (Html.BeginForm("Create", "CodeOrder", FormMethod.Post))
{
    <div>
        <label for="name">对像编码:</label>
        @Html.TextBoxFor(m => Model.ObjectCode, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">对像名称:</label>
        @Html.TextBoxFor(m => Model.ObjectName, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">前缀:</label>
        @Html.TextBoxFor(m => Model.Prefix, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">日期格式:</label>
        @Html.TextBoxFor(m => Model.DateFormat, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">流水号方式:</label>
        @Html.TextBoxFor(m => Model.SeqType, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">最大长度:</label>
        @Html.TextBoxFor(m => Model.MaxLength, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">流水号长度:</label>
        @Html.TextBoxFor(m => Model.SeqLength, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">排序号:</label>
        @Html.TextBoxFor(m => Model.SortID, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
    <div>
        <label for="name">备注:</label>
        @Html.TextBoxFor(m => Model.Remark, new { @class = "easyui-validatebox easyui-textbox", data_options = "required:true" })
    </div>
        <div>
        <label for="IsLocked">是否锁定:</label>
        <select name="IsLocked">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
    <div>
        <label for="IsShow">是否显示:</label>
        <select name="IsShow">
            <option value="true">是</option>
            <option value="false">否</option>
        </select>
    </div>
}

